server:
  port: 8080
  servlet:
    context-path: /pancharm

spring:
  application:
    name: pancharm
  config:
    import: "optional:configserver:http://localhost:8888"

  datasource:
    url: ${DBMS_CONNECTION:jdbc:mysql://localhost:3306/pancharm?useSSL=false&serverTimezone=UTC}
    username: ${DBMS_USERNAME:root}
    password: ${DBMS_PASSWORD:123456}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.data.redis.RedisAutoConfiguration
      - org.springframework.boot.autoconfigure.data.redis.RedisRepositoriesAutoConfiguration


  mail:
    host: smtp.gmail.com
    port: 587
    username: phantuanviet0706@gmail.com
    password: fnxt valw sxzk gsiy
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

jwt:
  signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"
  valid-duration: 3600
  refreshable-duration: 360000

sendgrid:
#  api-key: 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
  api-key: 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
  from-email: phantuanviet0706@gmail.com

pancharm:
  reset-password:
    base-url: http://localhost:3000/reset-password

cloud:
  aws:
    region:
      static: ap-northeast-1
    stack:
      auto: false
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}

appInfo:
  masterUsername: "admin"
  aws:
    s3:
      bucket-name: pancharm