server:
  port: 8080
  servlet:
    context-path: /pancharm
    session:
      timeout: 30m
  tomcat:
    max-http-form-post-size: -1
    max-swallow-size: -1
    accept-count: 100
    connection-timeout: 5000
    max-part-count: 50

spring:
  application:
    name: pancharm
#  config:
#    import: "optional:configserver:http://localhost:8888"
  cloud:
    config:
      enabled: false
      import-check.enabled: false


  datasource:
    url: ${DBMS_CONNECTION:jdbc:mysql://localhost:3306/pancharm?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    username: ${DBMS_USERNAME:root}
    password: ${DBMS_PASSWORD:123456}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 600000
      max-lifetime: 1800000
      connection-timeout: 3000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        jdbc:
          fetch_size: 50
          batch_size: 50

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.data.redis.RedisAutoConfiguration
      - org.springframework.boot.autoconfigure.data.redis.RedisRepositoriesAutoConfiguration


  mail:
    host: smtp.gmail.com
    port: 587
    username: phantuanviet0706@gmail.com
    password: fnxt valw sxzk gsiy
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 100MB

jwt:
  signerKey: ${JWT_SIGNER_KEY:"1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"}
  valid-duration: 3600
  refreshable-duration: 360000

sendgrid:
#  api-key: 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
  api-key: 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
  from-email: phantuanviet0706@gmail.com

pancharm:
  reset-password:
    base-url: http://localhost:3000/reset-password

cloud:
  aws:
    region:
      static: ap-northeast-1
    stack:
      auto: false
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}

appInfo:
  masterUsername: "admin"
  aws:
    s3:
      bucket-name: ${AWS_BUCKET_NAME:pancharm}

  minio:
    endpoint: ${MINIO_URL_BASE:http://localhost:9000}
    access-key: ${MINIO_ACCESS_KEY:admin}
    secret-key: ${MINIO_SECRET_KEY:12345678}
    bucket-name: ${MINIO_BUCKET_NAME:pancharm}
    public-base-url: ${MINIO_URL_BASE:http://localhost:9000}

  front-end:
    endpoint: ${FRONT_END_URL}

logging:
  level.org:
    apache.catalina.core: DEBUG
    springframework.web.multipart: DEBUG