name: Build & Push Docker Image for Pancharm app

on:
  push:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: phantuanviet0706/pancharm

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
            distribution: 'temurin'
            java-version: '21'
            cache: 'maven'

      - name: Maven clean & build
        run: mvn -B clean package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set image tag by branch
        run: |
          if [ "${GITHUB_REF##*/}" = "main" ]; then
            echo "IMAGE_TAG=prod-latest" >> $GITHUB_ENV
          else
            echo "IMAGE_TAG=staging-latest" >> $GITHUB_ENV
          fi

      - name: Build & Push Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
            ${{ env.IMAGE_NAME }}:${{ github.sha }}

  deploy-staging:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/develop'
    steps:
      - name: SSH to Staging Server & Redeploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: ubuntu
          key: ${{ secrets.STAGING_SSH_KEY }}
          script: |
            cd ~/pancharm
            ./redeploy-staging.sh staging-latest

  deploy-prod:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: SSH to Prod Server & Redeploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.PROD_HOST }}
          username: root
          key: ${{ secrets.PROD_SSH_KEY }}
          script: |
            cd ~/pancharm
            ./redeploy-prod.sh prod-latest
            
